.cache
.vscode
pki/out/*
docs/_build
gtest-parallel-logs
report.xml
build
build-*
secrets
Testing
*.pcap
*.junit
.claude
callgrind.*
cmake_test_discovery_*.json
googletest_discovery_*.json
keylog.log
